/****** Script for SelectTopNRows command from SSMS  ******/
SELECT 
 ENENC.ID
--,INS.INS_PLAN_ID

FROM		[DATA_NY_Ogdensburg_ClaxtonHeburn_MedicalCenter].[dbo].[MHED_EN_ER_ENCOUNTER]		AS ENENC
--INNER JOIN	[DATA_NY_Ogdensburg_ClaxtonHeburn_MedicalCenter].[dbo].[MHED_PAT_INSURANCE]			AS INS		ON ENENC.PATIENT_ID=INS.PATIENT_ID AND INS.IS_PRIMARY='1'




LEFT JOIN	(SELECT MAXINS.INS_PLAN_ID,MAXINS.PATIENT_ID,MAX(MAXINS.ID)							AS 'MAXID'
			 FROM [DATA_NY_Ogdensburg_ClaxtonHeburn_MedicalCenter].[dbo].[MHED_PAT_INSURANCE]	AS MAXINS
			 GROUP BY MAXINS.INS_PLAN_ID,MAXINS.PATIENT_ID)										AS INS			ON ENENC.PATIENT_ID=INS.PATIENT_ID

			 /*

LEFT JOIN	(SELECT	ENEVE.ENCOUNTER_ID,ENEVE.HC_PROVIDER_ID,MAX(ENEVE.ID)						AS 'MAX ENCOUNTER' 
				FROM [DATA_NY_Ogdensburg_ClaxtonHeburn_MedicalCenter].[dbo].[MHED_EN_EVENTS]	AS ENEVE			
				GROUP BY ENEVE.ENCOUNTER_ID,ENEVE.HC_PROVIDER_ID)								AS MAXENC			ON ENENC.ID=MAXENC.ENCOUNTER_ID


				*/

WHERE ENENC.IS_DELETED='1'



ORDER BY ENENC.ID